<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-aluno-heading" jhiTranslate="uniAgendaApp.aluno.home.createOrEditLabel">Create or edit a Aluno</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uniAgendaApp.aluno.raAluno" for="field_raAluno">Ra Aluno</label>
                    <input type="number" class="form-control" name="raAluno" id="field_raAluno"
                           formControlName="raAluno"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uniAgendaApp.aluno.nomeAluno" for="field_nomeAluno">Nome Aluno</label>
                    <input type="text" class="form-control" name="nomeAluno" id="field_nomeAluno"
                           formControlName="nomeAluno"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uniAgendaApp.aluno.periodo" for="field_periodo">Periodo</label>
                    <input type="number" class="form-control" name="periodo" id="field_periodo"
                           formControlName="periodo"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uniAgendaApp.aluno.curso" for="field_curso">Curso</label>
                    <select class="form-control" name="curso" formControlName="curso" id="field_curso">
                        <option value="Engenharia_Eletrica">{{'uniAgendaApp.Curso.Engenharia_Eletrica' | translate}}</option>
                        <option value="Engenharia_Computacao">{{'uniAgendaApp.Curso.Engenharia_Computacao' | translate}}</option>
                        <option value="Engenharia_Eletronica">{{'uniAgendaApp.Curso.Engenharia_Eletronica' | translate}}</option>
                        <option value="Engenharia_Mecanica">{{'uniAgendaApp.Curso.Engenharia_Mecanica' | translate}}</option>
                        <option value="Engenharia_Controle_Automacao">{{'uniAgendaApp.Curso.Engenharia_Controle_Automacao' | translate}}</option>
                        <option value="Engenharia_Software">{{'uniAgendaApp.Curso.Engenharia_Software' | translate}}</option>
                        <option value="Analise_Desenvolvimento_Sistemas">{{'uniAgendaApp.Curso.Analise_Desenvolvimento_Sistemas' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uniAgendaApp.aluno.agendaAtendimentoServidor" for="field_agendaAtendimentoServidor">Agenda Atendimento Servidor</label>
                    <select class="form-control" id="field_agendaAtendimentoServidor" name="agendaAtendimentoServidor" formControlName="agendaAtendimentoServidor">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="agendaAtendimentoServidorOption.id === editForm.get('agendaAtendimentoServidor').value?.id ? editForm.get('agendaAtendimentoServidor').value : agendaAtendimentoServidorOption" *ngFor="let agendaAtendimentoServidorOption of agendaatendimentoservidors; trackBy: trackAgendaAtendimentoServidorById">{{agendaAtendimentoServidorOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uniAgendaApp.aluno.agendaAluno" for="field_agendaAluno">Agenda Aluno</label>
                    <select class="form-control" id="field_agendaAluno" name="agendaAluno" formControlName="agendaAluno">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="agendaAlunoOption.id === editForm.get('agendaAluno').value?.id ? editForm.get('agendaAluno').value : agendaAlunoOption" *ngFor="let agendaAlunoOption of agendaalunos; trackBy: trackAgendaAlunoById">{{agendaAlunoOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uniAgendaApp.aluno.agendaReservaSala" for="field_agendaReservaSala">Agenda Reserva Sala</label>
                    <select class="form-control" id="field_agendaReservaSala" name="agendaReservaSala" formControlName="agendaReservaSala">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="agendaReservaSalaOption.id === editForm.get('agendaReservaSala').value?.id ? editForm.get('agendaReservaSala').value : agendaReservaSalaOption" *ngFor="let agendaReservaSalaOption of agendareservasalas; trackBy: trackAgendaReservaSalaById">{{agendaReservaSalaOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
