<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="agendaAluno">
            <h2><span jhiTranslate="uniAgendaApp.agendaAluno.detail.title">Agenda Aluno</span> {{agendaAluno.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="uniAgendaApp.agendaAluno.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'uniAgendaApp.StatusAgenda.' + agendaAluno.status}}">{{agendaAluno.status}}</span>
                </dd>
                <dt><span jhiTranslate="uniAgendaApp.agendaAluno.horario">Horario</span></dt>
                <dd>
                    <span jhiTranslate="{{'uniAgendaApp.Horario.' + agendaAluno.horario}}">{{agendaAluno.horario}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/agenda-aluno', agendaAluno.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
