<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="agendaAtendimentoServidor">
            <h2><span jhiTranslate="uniAgendaApp.agendaAtendimentoServidor.detail.title">Agenda Atendimento Servidor</span> {{agendaAtendimentoServidor.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="uniAgendaApp.agendaAtendimentoServidor.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'uniAgendaApp.StatusAgenda.' + agendaAtendimentoServidor.status}}">{{agendaAtendimentoServidor.status}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/agenda-atendimento-servidor', agendaAtendimentoServidor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
