<div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>Redefinir senha</h1>

            <div class="alert alert-danger" *ngIf="keyMissing">
                <strong>A chave de redefinição de senha esta ausente</strong>
            </div>

            <div class="alert alert-warning" *ngIf="!success && !keyMissing">
                <p>Escolha uma nova senha</p>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <p>Não foi possivel redefirnir sua senha. Lembre-se que uma solicitação de senha é valida por 24horas</p>
            </div>

            <p class="alert alert-success" *ngIf="success">
                <span><strong>Sua senha ja foi redefinida.</strong> Por favor </span>
                <a class="alert-link" (click)="login()">Entrar</a>.
            </p>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                senha não coincide.
            </div>

            <div *ngIf="!keyMissing">
                <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
                    <div class="form-group">
                        <label class="form-control-label" for="password">Nova senha</label>
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="New password"
                               formControlName="newPassword">
                        <div *ngIf="passwordForm.get('newPassword').invalid && (passwordForm.get('newPassword').dirty || passwordForm.get('newPassword').touched)">
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword').errors.required">
                               Confirmação de senha necessaria.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword').errors.minlength">
                               Senha precisa de pelo menos 4 caracteres.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword').errors.maxlength">
                               Senha não pode ter mais que 50 caracteres.
                            </small>
                        </div>
                        <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword').value"></jhi-password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="confirmPassword">Confirmação de nova senha</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                               placeholder="Confirm the new password"
                               formControlName="confirmPassword">
                        <div *ngIf="passwordForm.get('confirmPassword').invalid && (passwordForm.get('confirmPassword').dirty || passwordForm.get('confirmPassword').touched)">
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword').errors.required">
                               Confirmação de senha necessaria.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword').errors.minlength">
                               Confirmação de senha precisa de pelo menos 4 caracteres.
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword').errors.maxlength">
                               Confirmação de senha não pode ter mais que 50 caracteres.
                            </small>
                        </div>
                    </div>
                    <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary">Redefinir senha</button>
                </form>
            </div>

        </div>
    </div>
</div>
