<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="diasAtendimento">
            <h2><span>Dias Atendimento</span> {{diasAtendimento.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Mes</span></dt>
                <dd>
                    <span>{{diasAtendimento.mes}}</span>
                </dd>
                <dt><span>Dia Mes</span></dt>
                <dd>
                    <span>{{diasAtendimento.diaMes}}</span>
                </dd>
                <dt><span>Dia Semana</span></dt>
                <dd>
                    <span>{{diasAtendimento.diaSemana}}</span>
                </dd>
                <dt><span>Status Dia</span></dt>
                <dd>
                    <span>{{diasAtendimento.statusDia}}</span>
                </dd>
                <dt><span>Agenda Aluno</span></dt>
                <dd>
                    <div *ngIf="diasAtendimento.agendaAluno">
                        <a [routerLink]="['/agenda-aluno', diasAtendimento.agendaAluno?.id, 'view']">{{diasAtendimento.agendaAluno?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dias-atendimento', diasAtendimento.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
