<div>
    <h2 id="page-heading">
        <span>Dias Atendimentos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dias-atendimento" [routerLink]="['/dias-atendimento/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Dias Atendimento
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="diasAtendimentos?.length === 0">
        <span>No diasAtendimentos found</span>
    </div>
    <div class="table-responsive" *ngIf="diasAtendimentos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Mes</span></th>
            <th><span>Dia Mes</span></th>
            <th><span>Dia Semana</span></th>
            <th><span>Status Dia</span></th>
            <th><span>Servidor</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let diasAtendimento of diasAtendimentos ;trackBy: trackId">
                <td><a [routerLink]="['/dias-atendimento', diasAtendimento.id, 'view' ]">{{diasAtendimento.id}}</a></td>
                <td>{{diasAtendimento.mes}}</td>
                <td>{{diasAtendimento.diaMes}}</td>
                <td>{{diasAtendimento.diaSemana}}</td>
                <td>{{diasAtendimento.statusDia}}</td>
                <td>
                    <div *ngIf="diasAtendimento.servidor">
                        <a [routerLink]="['/servidor', diasAtendimento.servidor?.id, 'view' ]" >{{diasAtendimento.servidor?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/dias-atendimento', diasAtendimento.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/dias-atendimento', diasAtendimento.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/dias-atendimento', { outlets: { popup: diasAtendimento.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
