<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Redefinir nova senha</h1>

            <div class="alert alert-danger" *ngIf="errorEmailNotExists">
                <strong>Email não esta registrado</strong> Berifique e tente novamente.
            </div>

            <div class="alert alert-warning" *ngIf="!success">
                <p>ENtre com o email que foi registrado.</p>
            </div>

            <div class="alert alert-success" *ngIf="success === 'OK'">
                <p>Verifique seu email ou senha.</p>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
                           formControlName="email">
                    <div *ngIf="resetRequestForm.get('email').invalid && (resetRequestForm.get('email').dirty || resetRequestForm.get('email').touched)">
                        <small class="form-text text-danger"
                           *ngIf="resetRequestForm.get('email').errors.required">
                            Email necessario.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="resetRequestForm.get('email').errors.email">
                            Email invalido.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="resetRequestForm.get('email').errors.minlength">
                            Email precisa de pelo menos 5 characters.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="resetRequestForm.get('email').errors.maxlength">
                            Email não pode ter mais que 100 characters.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="resetRequestForm.invalid" class="btn btn-primary">Reset</button>
            </form>
        </div>
    </div>
</div>
