<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="agendaAluno">
            <h2><span>Agenda Aluno</span> {{agendaAluno.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{agendaAluno.status}}</span>
                </dd>
                <dt><span>Horario</span></dt>
                <dd>
                    <span>{{agendaAluno.horario}}</span>
                </dd>
                <dt><span>Aluno</span></dt>
                <dd>
                    <div *ngIf="agendaAluno.aluno">
                        <a [routerLink]="['/aluno', agendaAluno.aluno?.id, 'view']">{{agendaAluno.aluno?.id}}</a>
                    </div>
                </dd>
                <dt><span>Dias Atendimento</span></dt>
                <dd>
                    <div *ngIf="agendaAluno.diasAtendimento">
                        <a [routerLink]="['/dias-atendimento', agendaAluno.diasAtendimento?.id, 'view']">{{agendaAluno.diasAtendimento?.id}}</a>
                    </div>
                </dd>
                <dt><span>Dias Atendimento</span></dt>
                <dd>
                    <div *ngIf="agendaAluno.diasAtendimento">
                        <a [routerLink]="['/dias-atendimento', agendaAluno.diasAtendimento?.id, 'view']">{{agendaAluno.diasAtendimento?.id}}</a>
                    </div>
                </dd>
                <dt><span>Dias Atendimento</span></dt>
                <dd>
                    <div *ngIf="agendaAluno.diasAtendimento">
                        <a [routerLink]="['/dias-atendimento', agendaAluno.diasAtendimento?.id, 'view']">{{agendaAluno.diasAtendimento?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/agenda-aluno', agendaAluno.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
