<div>
    <h2 id="page-heading">
        <span>Agenda Alunos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-agenda-aluno" [routerLink]="['/agenda-aluno/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Agenda Aluno
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="agendaAlunos?.length === 0">
        <span>No agendaAlunos found</span>
    </div>
    <div class="table-responsive" *ngIf="agendaAlunos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Status</span></th>
            <th><span>Horario</span></th>
            <th><span>Aluno</span></th>
            <th><span>Dias Atendimento</span></th>
            <th><span>Dias Atendimento</span></th>
            <th><span>Dias Atendimento</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let agendaAluno of agendaAlunos ;trackBy: trackId">
                <td><a [routerLink]="['/agenda-aluno', agendaAluno.id, 'view' ]">{{agendaAluno.id}}</a></td>
                <td>{{agendaAluno.status}}</td>
                <td>{{agendaAluno.horario}}</td>
                <td>
                    <div *ngIf="agendaAluno.aluno">
                        <a [routerLink]="['/aluno', agendaAluno.aluno?.id, 'view' ]" >{{agendaAluno.aluno?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="agendaAluno.diasAtendimento">
                        <a [routerLink]="['/dias-atendimento', agendaAluno.diasAtendimento?.id, 'view' ]" >{{agendaAluno.diasAtendimento?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="agendaAluno.diasAtendimento">
                        <a [routerLink]="['/dias-atendimento', agendaAluno.diasAtendimento?.id, 'view' ]" >{{agendaAluno.diasAtendimento?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="agendaAluno.diasAtendimento">
                        <a [routerLink]="['/dias-atendimento', agendaAluno.diasAtendimento?.id, 'view' ]" >{{agendaAluno.diasAtendimento?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/agenda-aluno', agendaAluno.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/agenda-aluno', agendaAluno.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/agenda-aluno', { outlets: { popup: agendaAluno.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
