<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sala">
            <h2><span>Sala</span> {{sala.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nome Sala</span></dt>
                <dd>
                    <span>{{sala.nomeSala}}</span>
                </dd>
                <dt><span>Codigo Sala</span></dt>
                <dd>
                    <span>{{sala.codigoSala}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sala', sala.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
