<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-servidor-heading" jhiTranslate="uniAgendaApp.servidor.home.createOrEditLabel">Create or edit a Servidor</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uniAgendaApp.servidor.codSiape" for="field_codSiape">Cod Siape</label>
                    <input type="number" class="form-control" name="codSiape" id="field_codSiape"
                           formControlName="codSiape"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uniAgendaApp.servidor.nomeServidor" for="field_nomeServidor">Nome Servidor</label>
                    <input type="text" class="form-control" name="nomeServidor" id="field_nomeServidor"
                           formControlName="nomeServidor"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uniAgendaApp.servidor.agendaServidor" for="field_agendaServidor">Agenda Servidor</label>
                    <select class="form-control" id="field_agendaServidor" name="agendaServidor" formControlName="agendaServidor">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="agendaServidorOption.id === editForm.get('agendaServidor').value?.id ? editForm.get('agendaServidor').value : agendaServidorOption" *ngFor="let agendaServidorOption of agendaservidors; trackBy: trackAgendaServidorById">{{agendaServidorOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uniAgendaApp.servidor.diasAtendimento" for="field_diasAtendimento">Dias Atendimento</label>
                    <select class="form-control" id="field_diasAtendimento" name="diasAtendimento" formControlName="diasAtendimento">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="diasAtendimentoOption.id === editForm.get('diasAtendimento').value?.id ? editForm.get('diasAtendimento').value : diasAtendimentoOption" *ngFor="let diasAtendimentoOption of diasatendimentos; trackBy: trackDiasAtendimentoById">{{diasAtendimentoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
