/* ==========================================================================
Main page styles
========================================================================== */
.text {
  padding: 50px;
  font-family: Courier, 'Lucida Console', monospace;
}

.bonequinho {
  display: inline-block;
  width: 100%;
  height: 397px;
  background: url('../../content/images/bonequinho.png') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
}
