<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="agendaSala">
            <h2><span jhiTranslate="uniAgendaApp.agendaSala.detail.title">Agenda Sala</span> {{agendaSala.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="uniAgendaApp.agendaSala.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'uniAgendaApp.StatusAgenda.' + agendaSala.status}}">{{agendaSala.status}}</span>
                </dd>
                <dt><span jhiTranslate="uniAgendaApp.agendaSala.horario">Horario</span></dt>
                <dd>
                    <span jhiTranslate="{{'uniAgendaApp.Horario.' + agendaSala.horario}}">{{agendaSala.horario}}</span>
                </dd>
                <dt><span jhiTranslate="uniAgendaApp.agendaSala.agendaReservaSala">Agenda Reserva Sala</span></dt>
                <dd>
                    <div *ngIf="agendaSala.agendaReservaSala">
                        <a [routerLink]="['/agenda-reserva-sala', agendaSala.agendaReservaSala?.id, 'view']">{{agendaSala.agendaReservaSala?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="uniAgendaApp.agendaSala.agendaReservaSala">Agenda Reserva Sala</span></dt>
                <dd>
                    <div *ngIf="agendaSala.agendaReservaSala">
                        <a [routerLink]="['/agenda-reserva-sala', agendaSala.agendaReservaSala?.id, 'view']">{{agendaSala.agendaReservaSala?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="uniAgendaApp.agendaSala.agendaReservaSala">Agenda Reserva Sala</span></dt>
                <dd>
                    <div *ngIf="agendaSala.agendaReservaSala">
                        <a [routerLink]="['/agenda-reserva-sala', agendaSala.agendaReservaSala?.id, 'view']">{{agendaSala.agendaReservaSala?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="uniAgendaApp.agendaSala.agendaReservaSala">Agenda Reserva Sala</span></dt>
                <dd>
                    <div *ngIf="agendaSala.agendaReservaSala">
                        <a [routerLink]="['/agenda-reserva-sala', agendaSala.agendaReservaSala?.id, 'view']">{{agendaSala.agendaReservaSala?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="uniAgendaApp.agendaSala.agendaReservaSala">Agenda Reserva Sala</span></dt>
                <dd>
                    <div *ngIf="agendaSala.agendaReservaSala">
                        <a [routerLink]="['/agenda-reserva-sala', agendaSala.agendaReservaSala?.id, 'view']">{{agendaSala.agendaReservaSala?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/agenda-sala', agendaSala.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
